
{
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parser": "babel-eslint",
    "env": {
      "jest": true,
      "node": true
    },
    "globals": {
        "Promise": true
    },
    "rules": {
      "indent": ["error", 2],
      "no-multiple-empty-lines": ["error", { "max": 1 }],
      "object-curly-spacing": ["error", "always"],
      "space-infix-ops": ["error"]
  }
}
