
{
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 2],
        "no-multiple-empty-lines": ["error", { "max": 1 }]
    },
    "env": {
      "jest": true,
      "node": true
    },
    "globals": {
        "Promise": true
    }
}